div.container {
  background: white;
  border-radius: 14px;
  margin-top: 25px;
}

h3 {
  padding: 20px;
}


form {
  border-radius: 5px;
  background-color: #3a485242;
  padding: 20px;
}

.profile {
  background-color: white;
}

.error {
  color: red;
}
